#attachmentsAddTerms {
    z-index: 1000;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 6px;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, .2);
    position: fixed;
    left: 168px;
    top: 50%;
    transform: translateY(-50%);
    width: calc(100vw - 176px);
    max-height: 80vh;
    overflow-y: scroll;

    &.hidden {
        display: none;
    }

    .choices,
    .actions {
        display: flex;
        justify-content: space-between;
    }

    .choices {
        gap: 120px;
    }

    .choices {
        padding: 20px 40px;

        &>div {
            flex-basis: calc(100% / 3);
        }

        .children {
            margin: 5px 0 0 20px;
        }

        p {
            font-weight: bold;
            margin-top: 0;
        }

        ul {
            margin-top: 0;

            li {
                line-height: 22px;
            }
        }
    }

    .actions {
        position: sticky;
        bottom: 0px;
        justify-content: flex-end;
        padding: 10px;
        background: rgba(255, 255, 255, 0.9);

        button {
            margin: 0 5px;
        }
    }

}
