.woody-mediapageslist-container {
    text-align: center;

    .media-wrapper {
        img {
            margin-bottom: 10px;
        }
    }
}

#newMediaFrame {
    .dashicons {
        width: 36px;
        font-size: 36px;
        color: darkgrey;
        height: 36px;
        padding: 20px;

        &.spin {
            animation: spin 2s ease-in forwards;
        }
    }
}

@keyframes spin {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}
