.woody-mediapageslist-container {
    text-align: center;

    .media-wrapper {
        img {
            margin-bottom: 10px;
        }
    }


}

#newAttachmentId {
    display: block;
    margin-top: 5px;
}

#newMediaFrame {
    .dashicons {
        width: 36px;
        font-size: 36px;
        color: darkgrey;
        height: 36px;
        padding: 20px;
    }
}
